.footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__title {
  font-size: var(--size-xs);
  color: var(--color-slate-600);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  user-select: none;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer__socials-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.footer__socials-item {
  width: 2rem;
  height: 2rem;
  fill: var(--color-slate-600);
  transition: fill 0.3s;
}

.footer__socials-item:hover {
  fill: var(--color-steel-blue);
}

/* XS - Extra Small */
/* @media (min-width: 475px) {
} */

/* SM - Small */
@media (min-width: 640px) {
  .footer__socials-item {
    width: 2.5rem;
    height: 2.5rem;
  }
}

/* MD - Medium */
/* @media (min-width: 786px) {
} */

/* LG - Large */
/* @media (min-width: 1024px) {
} */

/* XL - Extra Large */
/* @media (min-width: 1280px) {
} */

/* 2XL - Extra Extra Large */
/* @media (min-width: 1536px) {
} */