.modal {
  display: none;
  width: 90vw;
  padding: 1.5rem;
  max-width: 80rem;
  border-radius: .375rem;
  color: var(--color-light);  
  background-color: var(--color-slate-800);
}

.modal__section:not(:first-child) {
  margin-top: 5rem;
}

.light-mode .modal {
  background-color: var(--color-dark);
}

.modal__title {
  color: var(--color-light);
  font-size: var(--size-xl);
  margin-bottom: 1.5rem;
}

.modal__project-card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 1rem 0;
}

.modal__project-card {
  display: flex;
  flex-direction: column;
  border-radius: .375rem;
  background-color: var(--color-dark);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.modal__project-card:hover {
  transform: translateY(-4px) scale(1.01);
  box-shadow: 0 15px 30px rgba(70, 130, 180, 0.4);
}

.modal__project-card-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 13.4rem;
}

.modal__project-card-image-wrapper a {
  cursor: pointer;
}

.modal__project-card-image-wrapper img {
  border-radius: .375rem .375rem 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: transform 0.3s ease-in-out;
}

.modal__project-card-image-wrapper img:hover {
  transform: scale(1.05);
}

.modal__project-card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: .5rem;
  padding: 1rem;
}

.modal__project-favorite {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.modal__project-medal {
  width: 2.5rem;
  height: 2.5rem;
}

.modal__project-card-title {
  font-size: var(--size-base);
}

.modal__project-card-badges-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.modal__project-card-description {
  font-size: var(--size-sm);
  color: var(--color-slate-400); 
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.modal__project-links {
  display: flex;
  gap: .25rem;
  margin-top: auto;
}

.modal__project-links a {
  width: 2.5rem;
  height: 2.5rem;
}

/* XS - Extra Small */
/* @media (min-width: 475px) {
} */

/* SM - Small */
/* @media (min-width: 640px) {
} */

/* MD - Medium */
@media (min-width: 786px) {
  .modal__title {
    font-size: var(--size-3xl);
  }

  .modal__project-card-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .modal__project-card-description {
    font-size: var(--size-base);
  }
}

/* LG - Large */
@media (min-width: 1024px) {
  .modal__project-card-title {
    font-size: var(--size-lg);
  }
}

/* XL - Extra Large */
@media (min-width: 1280px) {
  .modal__project-card-title {
    font-size: var(--size-xl);
  }

  .modal__project-card-description {
    font-size: var(--size-lg);
  }
}

/* 2XL - Extra Extra Large */
/* @media (min-width: 1536px) {
} */