/* COMPONENT-BASED CSS */

.main__button {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--color-steel-blue);
  color: #f1f5f9;
  padding: 0.5em 1em;
  border-radius: .375rem; /* 6px */
  cursor: pointer;
  box-shadow:
    0 10px 20px rgba(70, 130, 180, 0.5),
    0 6px 6px rgba(70, 130, 180, 0.5),
    0 0 100px -10px var(--color-steel-blue);
  transition: transform 0.3s, box-shadow 0.2s;
}

.main__button:hover {
  transform: translateY(-3px);
  box-shadow:
    0 14px 28px rgba(70, 130, 180, 0.25),
    0 10px 10px rgba(70, 130, 180, 0.22),
    0 0 120px -10px var(--color-steel-blue);
}

.main__button.secondary {
  background-color: var(--color-slate-600);
  color: #f1f5f9;
  transition: 0.3s;
  box-shadow: none;
}

.main__button.secondary:hover {
  color: #94a3b8;
  transform: none;
  box-shadow: none;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: .25rem .5rem;
  font-size: var(--size-xs);
  border-radius: 0.5rem;
}

.badge__icon {
  width: var(--size-xs);
  height: var(--size-xs);
}

.badge__group {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}

/* START - Badge Color Scheme */
.badge.light {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2); /* For light-mode */
  color: var(--color-badge-light);
}

.badge.emerald {
  background-color: rgba(16, 185, 129, 0.1);
  color: var(--color-badge-emerald);
}

.badge.blue {
  background-color: rgba(59, 130, 246, 0.1);
  color: var(--color-badge-blue);
}

.badge.indigo {
  background-color: rgba(99, 102, 241, 0.1);
  color: var(--color-badge-indigo);
}

.badge.red {
  background-color: rgba(239, 68, 68, 0.1);
  color: var(--color-badge-red);
}

.badge.yellow {
  background-color: rgba(234, 179, 8, 0.1);
  color: var(--color-badge-yellow);
}

.badge.pink {
  background-color: rgba(236, 72, 153, 0.1);
  color: var(--color-badge-pink);
}

.badge.gray {
  background-color: rgba(107, 114, 128, 0.1);
  color: var(--color-badge-gray);
}

.badge.orange {
  background-color: rgba(249, 115, 22, 0.1);
  color: var(--color-badge-orange);
}

.light-mode .badge.light {
  background-color: rgba(255, 255, 255, 0.2);
}

.light-mode .badge.emerald {
  background-color: rgba(16, 185, 129, 0.2);
}

.light-mode .badge.blue {
  background-color: rgba(59, 130, 246, 0.2);
}

.light-mode .badge.indigo {
  background-color: rgba(99, 102, 241, 0.2);
}

.light-mode .badge.red {
  background-color: rgba(239, 68, 68, 0.2);
}

.light-mode .badge.yellow {
  background-color: rgba(234, 179, 8, 0.2);
}

.light-mode .badge.pink {
  background-color: rgba(236, 72, 153, 0.2);
}

.light-mode .badge.gray {
  background-color: rgba(107, 114, 128, 0.2);
}

.light-mode .badge.orange {
  background-color: rgba(249, 115, 22, 0.2);
}
/* END - Badge Color Scheme */

.loading {
  filter: blur(40px) grayscale(100%);
}

.loaded {
  filter: blur(0) grayscale(0);
  transition: 0.7s ease-in-out;
}

.tippy-box {
  font-size: var(--size-xs);
  background-color: var(--color-slate-800);
  color: var(--color-badge-light);
  font-weight: bold;
  border-radius: 4px;
  padding: 6px 10px;
}

.tippy-box[data-theme~='mauve'] {
  background-color: var(--color-mauve);
  color: var(--color-dark);
}

/* ########################## */
/* ##### RESPONSIVENESS ##### */
/* ########################## */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section {
  margin-top: 5rem;
}

/* XS - Extra Small */
@media (min-width: 475px) {
  .container {
    width: 475px;
  }
}

/* SM - Small */
@media (min-width: 640px) {
  .container {
    width: 640px;
  }

  .badge {
    padding: .125rem .375rem;
    font-size: .625rem;
  }
  
  .badge__icon {
    width: .625rem;
    height: .625rem;
  }
}

/* MD - Medium */
@media (min-width: 786px) {
  .container {
    width: 786px;
  }

  .badge {
    padding: .25rem .5rem;
    font-size: var(--size-xs);
  }
  
  .badge__icon {
    width: .75rem;
    height: .75rem;
  }
}

/* LG - Large */
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

/* XL - Extra Large */
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

/* 2XL - Extra Extra Large */
@media (min-width: 1536px) {
  .container {
    width: 1536px;
  }
}